body {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Soccer_Field_Transparant.svg/1200px-Soccer_Field_Transparant.svg.png');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 100%;
  
}

.App {
  height:100vh;
}

.App #scoreID {
  text-align: left;
}

.App .choose {
  float: right;
}

.App button {
  /*
  min-height: 40px;
  padding-top: 80px;
  min-width: 30vh;
  vertical-align: top;
  display: inline-block;
  margin: 0;
  background-size: 100px 130px;
  height: 134px;  
  width: 104px;
  */
  /*background-image: url('');*/
  background-repeat: no-repeat;
  background-position: 40px 0px;
  background-size: 118px 124px; /* width height 285 x 300 x 60%*/
  height: 100px;
  width: 200px;   
  border-bottom: 20px solid white;
  line-height: 175px;
}

.myTeam table tr {
  text-align: center;
}

.choose {
  position: fixed;
  background-color: rgba(51, 170, 51, .7);
  height: 300px;
  
}

.team table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}